<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<section th:fragment="userMainPageHeader">
    <div id="mainPageImage" class="jumbotron jumbotron-fluid">
        <div class="container text-white">
            <h1 class="display-3">CYTAN Book Store</h1>
            <div sec:authorize="!isAuthenticated()">
                <a href="#" class="btn btn-success" th:href="@{/register}">Sign Up To Buy</a>
            </div>
        </div>
    </div>
</section>

</body>
</html>